**/.xqz-u-egg
**/__pycache__
**/*.aux
**/*.log
**/*.out
**/*.zip
# **/*.png
**/.ipynb_checkpoints

**/theory/*
!**/theory/*.tex

**/data/*
!assignment1/data/experiments_configs.json

assignment3/part1/VAE_logs